.blog_header_div {
  display: flex;
  justify-content: space-between;
  margin: 1rem 9.5rem;
  margin-top: 3rem;
  //   margin-bottom: 1.5rem;

  h4 {
    font-size: 1.1rem;
    padding: 0.7rem 1.5rem;
    border-radius: 0.7rem;
    cursor: pointer;
    transition: background 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid #c6bebe;
  }

  h4:hover {
    background: linear-gradient(45deg, #ff9a9e, #fad0c4);
    border-color: #ff9a9e;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
    transition: all 0.3s ease;
  }
}

.blog_content_div {
  margin: 1rem 9.5rem;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  gap: 1rem;
  margin-top: 5rem;
  cursor: pointer;
  transition: all 0.3s ease;

  h3 {
    margin: 0rem;
    margin-left: 0.7rem;
  }
  h1 {
    margin: 0rem;
    font-size: 1.6rem;
  }
  p {
    margin: 0rem;
  }
}

.blog_content_div:hover {
  border: 0.5px solid #d49597;
  color: #e2460d;
  background: linear-gradient(50deg, #f0e8e9, #e3d7d5);
  padding: 2.5rem 0rem;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
  transition: all 0.3s ease;
}

/* Media Query for Tablets (max-width: 768px) */
@media (max-width: 768px) {
  .blog_header_div {
    flex-direction: column;
    align-items: center;
    margin: 1rem 2rem;
    margin-top: 2rem;

    h4 {
      font-size: 1rem;
      padding: 0.5rem 1rem;
      margin-bottom: 0.5rem;
    }
  }

  .blog_content_div {
    margin: 1rem 2rem;
    margin-top: 3rem;
    grid-template-columns: 1fr;
    gap: 0.5rem;

    h3 {
      margin-left: 0;
      font-size: 1.4rem;
    }
    h1 {
      font-size: 1.4rem;
    }
    p {
      font-size: 0.9rem;
    }
  }
}

/* Media Query for Mobile Devices (max-width: 480px) */
@media (max-width: 480px) {
  .blog_header_div {
    flex-direction: column;
    align-items: center;
    margin: 1rem 1rem;
    margin-top: 1rem;

    h4 {
      font-size: 0.9rem;
      padding: 0.4rem 0.8rem;
      margin-bottom: 0.5rem;
    }
  }

  .blog_content_div {
    margin: 1rem 1rem;
    margin-top: 2rem;
    grid-template-columns: 1fr;
    gap: 0.5rem;

    h3 {
      margin-left: 0;
      font-size: 1.2rem;
    }
    h1 {
      font-size: 1.2rem;
    }
    p {
      font-size: 0.8rem;
    }
  }
}
